*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #eeeeea;
}

h1 {
    font-size: 2.5rem;
    width: 97vw;
    margin: auto auto;
    background-color: #74a3bc;
    color: #222;
    text-align: center;
    border: solid 2px;
    border-radius: 5px;
    border-top: 0px;
    border-color: #CAD9FF;
    
    
}

h3 {
    margin: 10px 5px;
}

main {
    font-size: 1.2rem;
    margin: 2vw 115px;
    background-color: white;
    width: 80vw;
}

.index-footer {
    height: 9vh;
    background-color: #333;
    font-size: 1.2rem;
    color: #eee;
    padding-left: 1vw;
}


.index-barra {
    width: 97vw;
    font-size: 1.6rem;
    list-style: none;
    margin: auto auto;
    border-radius: 5px;
    display: table;
}

.index-barra ul {
    margin-top: 0px;
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    color: white;
    padding: auto;
}

.index-barra li {
    text-align: center;
    margin: auto auto;
    padding: 1px 9.7rem;
    display: inline-block
}