*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: #1f4f31;
}

h1 {
    font-size: 2.5rem;
    margin: 10px 5px;
    background-color: #cccc;
    text-align: center;
    border: solid 2px;
}

h3 {
    margin: 10px 5px;
}

main {
    font-size: 1.2rem;
    margin: 2vw 115px;
    background-color: white;
    width: 80vw;
}